# Postgres Server (Custom Docker Deployment)
# These are used by the custom postgres.Dockerfile on first boot
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
APP_DB_NAME=
KEYCLOAK_DB_NAME=

# Database connection string (Backend)
TADIL_DB=
# MinIO API Client (Backend)
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
MINIO_BUCKET=

# Keycloak API Client (Backend)
KEYCLOAK_INTROSPECTION_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

TADIL_API=
TADIL_MOBILE_API=

JWT_SECRET=super-secret

# Moyasar Payment
VITE_MOYASAR_PUBLISHABLE_KEY=pk_test_placeholder
MOYASAR_SECRET_KEY=sk_test_placeholder


# Keycloak Server (Cloud Deployment - Railway)
KC_DB=
KC_DB_URL=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_HTTP_ENABLED=
KC_PROXY_HEADERS=
KC_HOSTNAME=
KC_HOSTNAME_BACKCHANNEL_DYNAMIC=
KC_API_CLIENT_SECRET=
KC_ADMIN_UI_CLIENT_REDIRECTION_URL=
KC_API_CLIENT_ID=
KC_ADMIN_UI_CLIENT_ID=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=


# MinIO Server (Cloud Deployment)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=